img {
    width: 400;
}
h1 {
    color: skyblue
}
#spanId {
    font-size: 18px;
    margin: 50px;

}
#thirdDiv {
    background: lightgreen;
    border: 10px;
    height: 600px;
    padding: 50px;
    width: 500px;
}